<!DOCTYPE html>
<html>
<head>
  <title>Edit Festival</title>
  <!-- Bootstrap CSS -->
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <header class="mb-4">
    <h2 class="text-center">Edit Festival</h2>
  </header>

  <form th:action="@{/admin/edit/{id}(id=${id})}" method="post">
    <div class="form-group">
      <label for="festivalName">축제명:</label>
      <input type='text' id="festivalName" class="form-control" name='festivalName'>
    </div>
    <div class="form-group">
      <label for="regionName">지역명:</label>
      <input type='text' id="regionName" class="form-control" name='regionName'>
    </div>
    <div class="form-group">
      <label for="hostRegion">개최 지역:</label>
      <input type='text' id="hostRegion" class="form-control" name='hostRegion'>
    </div>
    <div class="form-group">
      <label for="hostPeriod">개최 기간:</label>
      <input type='date' id="hostPeriod" class="form-control" name='hostPeriod'>
    </div>
    <div class="form-group">
      <label for="festivalType">축제 유형:</label>
      <input type='text' id="festivalType" class="form-control" name='festivalType'>
    </div>
    <div class="form-group">
      <label for="festivalPlace">축제 장소:</label>
      <input type='text' id="festivalPlace" class="form-control" name='festivalPlace'>
    </div>
    <div class="form-group">
      <label for="placeType">장소 유형:</label>
      <input type='text' id="placeType" class="form-control" name='placeType'>
    </div>
    <button type="submit" class="btn btn-primary">수정</button>
  </form>
</div>

</body>
</html>
