<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>
<body>

<!--<div th:if="${param.error}">-->
<!--    <p style="color: red;">Invalid credentials.</p>-->
<!--</div>-->

<!--<div th:if="${param.logout}">-->
<!--    <p>Logged out successfully.</p>-->
<!--</div>-->

<form action="@{/admin/login}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

</body>
</html>
