<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Festival DashBoard</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <header class="mb-4">
        <h2 class="text-center">Festival Management</h2>
        <a class='btn btn-primary mb-3' th:href="@{/admin/adminPage}">Back to Admin Page</a>
    </header>

    <table class='table table-striped'>
        <thead class='thead-dark'>
        <tr>
            <th>축제명</th>
            <th>축제 장소</th>
            <th>개최 지역</th>
            <th>지역명</th>
            <th>축제 기간</th>
            <th>축제 유형</th>
            <th></th>
        </tr>
        </thead>
        <tbody th:each='f : ${response.festivals}'>
        <tr>
            <td th:text='${f.getFestivalName()}'></td>
            <td th:text='${f.getFestivalArea()}'></td>
            <td th:text='${f.getHostArea()}'></td>
            <td th:text='${f.getCityName()}'></td>
            <td th:text='${f.getFestivalPeriod()}'></td>
            <td th:text='${f.getFestivalType()}'></td>
            <td>
                <div class='d-flex justify-content-between'>
                    <a th:href="@{/admin/edit/{id}(id=${f.getFestivalNo()})}" class='btn btn-info'>Edit</a>
                    <a href='javascript:void(0);' class='btn btn-danger' th:onclick="'confirmAndDelete(' + ${f.getFestivalNo()} + ')'">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label='Page navigation'>
        <ul class='pagination justify-content-center'>
            <li th:class="${response.pageNumber == 0} ? 'page-item disabled' : 'page-item'">
                <a class='page-link' th:href="@{/admin/read(page=${response.pageNumber - 1})}" tabindex='-1'>Previous</a>
            </li>
            <!-- 추가된 페이지 번호 -->
            <li th:each="pageNo : ${#numbers.sequence(0, response.totalPages-1)}"
                th:class="${response.pageNumber == pageNo} ? 'page-item active' : 'page-item'">
                <a class='page-link' th:href="@{/admin/read(page=${pageNo})}" th:text="${pageNo + 1}"></a>
            </li>
            <li th:class="${response.pageNumber + 1 >= response.totalPages} ? 'page-item disabled' : 'page-item'">
                <a class='page-link' th:href="@{/admin/read(page=${response.pageNumber + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>

<script src='https://code.jquery.com/jquery-3.5.1.slim.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js'></script>
<script>
    function confirmAndDelete(festivalId) {
        if (confirm("정말로 삭제하시겠습니까?")) {
            deleteFestival(festivalId);
        }
    }

    function deleteFestival(festivalId) {
        fetch('/admin/delete/' + festivalId, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(result => {
                window.location.reload();
            })
            .catch(error => {
                console.log('Error deleting festival:', error);
            });
    }
</script>

</body>
</html>
